{% extends 'base.html' %}
{% block content %}
<nav>
    <h1>
        <a href="/posts/feeds/">Pystagram</a>
    </h1>
    <a href="/users/logout/">Logout</a>
</nav>
<div id="feeds" class="post-container">
    {% for post in posts %}
        <article class="post">
            <header class="post-header">
                {% if post.user.profile_image %}
                    <img src="{{ post.user.profile_image.url }}">
                {% endif %}
                <span>{{ post.user.username }}</span>
            </header>
            <div class="carousel_main">
                <!-- 캐러셀 이미지 삽입 -->
                <div class="carousel_wrapper">
                    {% for image in post.postimage_set.all %}
                        {% if image.photo %}
                        <div class="carousel_slide">
                            <img src="{{ image.photo.url }}" />
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- 캐러셀 사이드 버튼 -->
                <div class="carousel_button_container">
                    <button type="button" class="carousel_prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </button>
                    <button type="button" class="carousel_next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </div>
                <!-- 캐러셀 중앙 버튼 -->
                <div class="carousel_pagination">
                    <div class="carousel_circle"></div>
                    <div class="carousel_circle"></div>
                    <div class="carousel_circle"></div>
                    <div class="carousel_circle"></div>
                </div>
            </div>
            <div class="post-content">
                {{ post.content|linebreaksbr }}
            </div>
            <div class="post-buttons">
                <button>Likes(0)</button>
                <span>Comments(0)</span>
            </div>
            <div class="post-comments">
                <ul>
                    {% for comment in post.comment_set.all %}
                        <li>
                            <span>{{ comment.user.username }}</span>
                            <span>{{ comment.content }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <small>{{ post.created }}</small>
            <div class="post-comment-create">
                <input type="text" placeholder="댓글 달기...">
                <button type="submit">게시</button>
            </div>
        </article>
    {% endfor %}
</div>
<script>
    document.addEventListener( 'DOMContentLoaded', function() {
      var splide = new Splide( '.splide' );
      splide.mount();
    } );
</script>
{% endblock %}