{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'splide/splide.css' %}"> -->
    <link rel="stylesheet" href="{% static 'splide/carousel.css' %}">
    <!-- <script type="text/javascript" src="{% static 'splide/splide.js' %}"></script> -->
</head>
<body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'splide/carousel.js' %}"></script>
</body>
</html>