{% extends '_base.html' %}
{% load static %}

{% block head %}
    <!-- <link rel="stylesheet" href="{% static 'splide/splide.css' %}"> -->
    <link rel="stylesheet" href="{% static 'splide/carousel.css' %}">
    <!-- <script type="text/javascript" src="{% static 'splide/splide.js' %}"></script> -->
{% endblock %}

{% block base_content %}
    {% include 'nav.html' %}
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'splide/carousel.js' %}"></script>
    <script>
        const elms = document.getElementsByClassName('splide')
        for (let i = 0; i < elms.length; i++) {
            new Splide(elms[i]).mount();
        }
    </script>
{% endblock %}